<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jillian.cs4720mobileproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jillian.cs4720mobileproject.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jillian.cs4720mobileproject.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="jillian.cs4720mobileproject.Settings"
            android:label="@string/app_name"
            android:parentActivityName="jillian.cs4720mobileproject.Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="jillian.cs4720mobileproject.TabListActivity"
            android:label="@string/title_tab_list" >
        </activity>
        <activity
            android:name="jillian.cs4720mobileproject.TabDetailActivity"
            android:label="@string/title_tab_detail"
            android:parentActivityName="jillian.cs4720mobileproject.TabListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jillian.cs4720mobileproject.TabListActivity" />
        </activity>
    </application>

</manifest>
